body {
    font-family: 'Bahnschrift SemiBold';
    background-size: 100%; 
    background-image: url('back.jpg');

}

.campos{
    
    width: 60%;
    padding: 40px;

    margin-left: 16%;
    margin-top: 12%;

    background-color: #FFFFFF;
    
    border: 2px solid #000000;
    border-radius: 20px;

}

.datos {

    padding-left: 19%;
    margin-bottom: 15px;

}

label {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    
    width: 70%;
    padding: 10px;
    
    border: 1px solid #ccc;
    border-radius: 5px;
}

#enviar {
    
    background-color: #007BFF;
    color: white;

    align-items: center;
    margin-left: 19%;
    padding: 1.5% 25%;
    
    border: none;
    border-radius: 8px;
    
}

#enviar:hover {
    background-color: #005abb;
}

#pass {
    
    background-color: #007BFF;
    color: white;

    align-items: center;
    margin-left: 20%;
    padding: 1.5% 20%;
    
    border: none;
    border-radius: 8px;
    
}

#pass:hover {
    background-color: #005abb;
}
